.box {
	border: 1px #555 solid;
	margin: 10px;
	float: left;
	border-radius: 4px;
}

.box.small {
	width: 160px;
}

.box.big {
	width: 200px;
}

.box.graph {
	width: 400px;
}

.box .header {
	border-bottom: 1px #555 solid;
	padding: 5px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
	height: 22px;
}

.box .banner {
	padding-left: 20px;
	padding-right: 20px;
	font-weight: bold;
	height: 22px;
	line-height: 22px;
	border-bottom: 1px #555 solid;
	letter-spacing: 2px;
}

.box .body {
	padding: 10px;
	text-align: center;
}

.box .body table {
	width: 100%;
}